#-*-Makefile-*- vim:syntax=make

TARGET = ucmini
PROGRAMMER ?= avrdude

PROGRAMMER_PART ?= -pm128rfa1

TOSMAKE_VOLUME_ALLOCATOR_FLAGS ?= -s32

AVR_FUSE_H ?= 0x98
AVR_FUSE_L ?= 0xE2
#writing efuse and flash in the same command causes strange verification error
#AVR_FUSE_E ?= 0xFF

reset:
	java net.tinyos.util.ZigbitProgrammer -port $(AVR109) -reset -sleep 2  -askforreset

$(call TOSMake_include_platform,ucmini)
$(call TOSMake_include_make_platform,avr)

ucmini: $(BUILD_DEPS)
	@:
